{
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "useTabs": false,
        "trailingComma": "none",
        "proseWrap": "always"
      }
    }
  ]
}
